*{
    margin:0;padding:0;box-sizing:border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    width:100%;
    overflow-x: hidden;
}
/* //scrollbar  */
::-webkit-scrollbar{width:10px; }
::-webkit-scrollbar-thumb{background-color: #9c8164}
::-webkit-scrollbar-track{background-color: #f1f1f1}
/* end scrollbar  */
.header{
    padding: 10px 0px;
    width:100vw;
    position:fixed;
    z-index: 12;
    transition:0.5s ;
    
}
.header.active{
    background:#9c8164;
    border-bottom: 5px solid white;
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.605);
}
nav.menu{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    /* background:#d10f0f; */
    justify-content: space-between;
    
}
.logo{
    width:20vw;
    font-size: 4vw;
    line-height:60px;
    font-weight:bold;
    overflow:hidden;
    margin-left:3vw ;
    color: white;
    padding:10px 0px;
   
}
.menu ul{
    width: 50vw;
    display:flex;
    flex-wrap: wrap;
    justify-content:left ;
    line-height:60px;
    padding:10px 0px;
}
.menu ul li{
   list-style: none;
   margin-left: 4vw;
   padding:0px 20px;
   border-radius: 10px;
   transition: 0.5s;
}
.menu ul li:hover{
    background:white;
    border-radius: 10px;
    
}
.menu ul li:hover a{
    color: black;
}
.menu ul li a{
    color:white;
    font-family:sans-serif;
    text-decoration: none;
    font-weight: light;
    transition: 0.5s;
    
 }
 /* //end menu */

 /* slider  */
.slider{
    width:100vw;
    height:100vh;
    position: relative;
    overflow:hidden;
}
.black{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.529);
    width:100%;
    height:100%;
    z-index: 9;
}
.slide{
    width:100%;
    height:100%;
    position: absolute;
    transition:0.5s;
}
.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.back,.next{
    font-size: 4vw;
    z-index: 10;
    color:white;
    opacity: 0.5;
    position:absolute;
    top:50%;
    padding:20px;
    transform:translateY(-50%);
    cursor:pointer;
    transition: 0.5s;
}
.next{
    right:0;
}
.back:hover,.next:hover{
    opacity:1;
    background:white;
    color:black;
}
/* // noidung */

.noidung{
    margin-top: 4vw;
    width:100vw;
}
.noidung h1{
    color: #9c8164;
    text-transform: uppercase;
    text-align:center;
}
.noidung .line{
    width:40vw;
    height:5px;
    background-color: #9c8164;
    margin: 20px auto;
}
.khoihocvan{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.khoihocvan .k1{
    width:15vw;
    height:20vw;
    background:#9c8164;
    margin: 20px 10px
}
.footer{
    margin-top: 10vw;
    width:100vw;
    height:30vw;
    background:#9c8164;
}