<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/LOGO.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/lxh.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,500;1,300&family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <title>LE XUAN HAI</title>
</head>
<body>
    <div class="header" id="#m2">
        <nav class="menu">
            <div class="logo">NEDESIGN</div>
            <ul>
                <li><a href="">Tổng quan</a></li>
                <li><a href="#m1">Học vấn</a></li>
                <li><a href="#m2">Kỹ năng</a></li>
                <li><a href="#m3">Công tác</a></li>
            </ul>
        </nav>
    </div>
    <div class="slider">
        <div class="black"></div>
        <div class="slide">
            <img src="https://images.pexels.com/photos/460797/pexels-photo-460797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="anh 1">
        </div>
        <div class="slide">
            <img src="https://images.pexels.com/photos/12615019/pexels-photo-12615019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="anh 2">
        </div>
        <div class="slide">
            <img src="https://images.pexels.com/photos/13239239/pexels-photo-13239239.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="anh 3">
        </div>
        <div class="slide">
            <img src="https://images.pexels.com/photos/735423/pexels-photo-735423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="anh 4">
        </div>
        <div class="back"><</div>
        <div class="next">></div>
    </div>
    <div class="noidung" id="m1">
        <h1>Học vấn</h1>
        <div class="line"></div>
        <div class="khoihocvan">
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
        </div>
    </div>

    <div class="noidung" id="m2">
        <h1>Kỹ năng</h1>
        <div class="line"></div>
        <div class="khoihocvan">
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
        </div>
    </div>
    <div class="noidung" id="m3">
        <h1>Công tác</h1>
        <div class="line"></div>
        <div class="khoihocvan">
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
            <div class="k1"></div>
        </div>
    </div>
    <div class="footer">

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/lxh.js"></script>
</body>
</html>